.button-bar {
  position: absolute;
  left: 54px;
  top: 10px;
  z-index: 1000;
}

.button-bar button {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #ccc;
  width: 65px;
  height: 65px;
  margin-right: 10px;
  padding: 2.5px;
  cursor: pointer;
}

.button-bar button:hover {
  background-color: #eee;
}

.button-bar button img {
  border-radius: 28px;
  width: 56px;
  height: 56px;
}
